.App {
  text-align: center;
  background-image: url(./images/background.png);
  /* background-repeat: round; */
  background-size: cover;
}

.background-building {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App * {
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
